/**/



*
{
    font-family: 'Gajraj One', cursive;
}







img
{
    width: 145px;
    height: 145px;
    margin-left: 460px;
    margin-bottom: 30px;
}

h1
{
    display: flex;
    margin-left: 360px;
}

th
{
    font-size: 30px;
    color: rgb(5, 43, 46);
}
