/**/

h1
{
    
    font-size: 30px;
    padding: 15px;
    margin:0;
    background-color: rgb(188, 243, 142);
    text-align:center;
    height: 40px;
}

#side-form
{
    display:flex;
    flex-direction: column;
    height: 590px;
    width: 290px;
    padding: 15px;
    background-color: rgb(188, 243, 142);
    margin:0;
    
}


#add-book
{
    
    border: 1px solid rgb(128, 28, 28);
    background-color: rgb(252, 90, 90);
    border-radius: 5px;
    margin: 20px 0 0;
    transition: 0.3s;
    padding: 19px 0;
    margin-top: 50px;
    font-size: 20px;
    width: 200px;
    height: 80px;
    margin-left: 40px;
    color:white;
}

#add-book:hover 
{
    cursor: pointer;
    border-color:rgb(128, 28, 28);
    background-color:rgb(145, 28, 28);
    transition: 0.3s;
}